#root {
  width: 100%;
  max-width: 100%;
  min-width: 600px;
  height: auto; /* Cambiar a auto para que respete el tamaño del Navbar */
  min-height: 100vh; /* Asegurar que ocupa la pantalla completa */
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
